<!DOCTYPE html>
  <html>
  <head>
    <title>Chester Cerveceria</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="navbar">
    
      <div class="logo">
    
        <a href="#"><img class="logo-img" src="/public/images/logoChester.jpg" alt=""></a> 
     
      </div>  
    
      <ul class="navbar-list">
      <li class="navbar-list-item"><a href="#">CERVEZAS</a></li>
      <li class="navbar-list-item"><a href="#">LOCAL</a></li>
      <li class="navbar-list-item"><a href="#">EVENTOS</a></li>
      <li class="navbar-list-item"><a href="#">FUNDADORES</a></li>
      <li class="navbar-list-item"><a href="#">CONTACTO</a></li>
      </ul>
      </div>

    <div class="header">
      <p class="portada"><a href="#"><img class="logo-img" src="../public/images/portada.jpg" alt=""></a>  </p>

    </div>
  
    <div class="main">
      <a href="#"><img class="logo-img" src="../public/images/nuestrasCervezas.jpg" alt=""></a>  
      <a href="#"><img class="logo-img" src="../public/images/eventos.jpg" alt=""></a>  

    </div>
    <div class="footer">
    <a href="#"><img class="logo-img" src="../public/images/sobreNosotros.jpg" alt=""></a> 

    <ul>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Twitter</li>
 
    </ul>

    </div>
  </body>

  </html>

  