<!DOCTYPE html>
  <html>
  <head>
    <title>Chester Cerveceria</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="navbar">
    
      <div class="logo">
        <a href="/"><img class="logo-img" src="/images/logoChester.jpg" alt=""></a> 
      </div>  
    
      <ul class="navbar-list">
        <li class="navbar-list-item"><a href="/cervezas">CERVEZAS</a></li>
        <li class="navbar-list-item"><a href="/local">LOCAL</a></li>
        <li class="navbar-list-item"><a href="/eventos">EVENTOS</a></li>
        <li class="navbar-list-item"><a href="/fundadores">FUNDADORES</a></li>
        <li class="navbar-list-item"><a href="/contacto">CONTACTO</a></li>
      </ul>

    </div>

    <div class="header">
      <p class="portada"><a href="/"><img class="logo-img2" src="/images/portada.jpg" alt=""></a>  </p>
    </div>
  
    <div class="main">
      <p>Mas frecuentes</p>
      <a href="/cervezas"><img class="logo-img" src="/images/nuestrasCervezas.png" alt=""></a>
      <a href="/eventos"><img class="logo-img" src="/images/eventos.png" alt=""></a>  

    </div>
    

  
    <div class="footer">
    <a href="/contacto"><img class="logo-img" src="/images/sobreNosotros.jpg" alt=""></a> 
    <ul>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Twitter</li>
    </ul>

    </div> 
  </body>

  </html>