*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 85%;  
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}


.header > p {
  width: 85%;
  position: absolute;
  top: 0;
  right:0;
  background-color: #fff;
}

.header > p > img{
  width: 100%;
  left: 0;
}

.mas-frecuentes{
  bottom: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.logo-img{
  height: 200px;
  width: 100%;
}

.logo-img2{
  height: 200px;
  width: 100%;
 
}

.navbar{
  background-color:black;
  width: 15%;
  height: 100vh; /*vh viewport height*/
  position: relative;
  left:0;

}

.navbar-list{
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.navbar-list-item{
  list-style: none;
  color: white;
background-color: lightgreen;
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  height: 195px;
}

.navbar-list-item > a{
  color: grey;
  text-decoration: none;
}

.navbar-list-item:hover{
  background-color: lime;
}

.main{
  width: 85%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
  right: 0;
  align-items: center;
}

.main > p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
}

.footer > p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  bottom: 100px;
}

.main > a{
  width: 100%;
}

.main > a > img{
  width: 100%;
}

.footer{
  display: block;
  position: absolute;
  background-color: lightgreen;
  width: 85%;
  right: 0;

  
}

.footer > a > img {
  width: 100%;

}

 .footer > ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  background-color: forestgreen;
  width: 100%;
  align-items: center;
  
}

.footer > ul > li{
  padding: 15px;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  
}